/* Global =============================*/
/* :root referencia a tag html */
:root {
    /* Estou criando uma variavel global */
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 100% = 16px, como queremos 15px = 93.75% */
/* Esse vai ser o tamanho normal para mobile cf. Responsive mais abaixo pra versao desktop */
html {
    font-size: 93.75%; /* 15px */
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

/* Esconder os titulos : Balanço e Transaçoes */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    /* min() espera dois argumentos, ele compara os dois valore e pega sempre o menor baseado no tamanho da tela. Enquanto a tela estiver menor que 800px ele vai pegar 90vw do espaço da tela, à partir de 800px ele para em 800px da tela */
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles ============================= */

/* Seletor h2 pega todos os h2, o balance h2 vai pegar so o h2 que esta dentro do balance cf. mudanças mais abaixo */
h2 {
    margin-top: 3.2rem;
    margin-bottom: .8rem;
    /* Passo a variavel que eu criei para a propriedade color no lugar da cor escrita em bruto */
    color: var(--dark-blue);
    font-weight: normal;
}

/* Links & Buttons ============================= */

a {
    color: var(--green);
    text-decoration: none;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--green);
    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
}

button:hover {
    background: var(--light-green);
}

.button.new {
    /* Como o a é um elemento inline, o margin-bottom nao vai funcionar. Se colocarmos um display: block vai funcionar, mas o a vai pegar toda a largura da pagina. Como nao queremos isso, vamos usar o inline-block que vai guardar as dimensoes inline do a, mas vai pegar as propriedades do block permitindo assim o uso do margin*/
    margin-bottom: .8rem;
    display: inline-block;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.25rem;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.6;
}

/* Gerando a opacidade */ 
.button.cancel:hover {
    opacity: 1;
}


/* Header ============================= */
header {
    background: #2D4A22;
    padding: 2rem 0 10rem;
    text-align: center;
}

#logo {
    color: #fff;
    font-weight: 100;
}

/* Balance ============================ */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

/* Cards ============================= */
.card {
    background: white;
    /* Em cima e embaixo / Laterais */
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

/* .card.total : estou procurando na classe .card uma outra classe que se chama total */
.card.total {
    background: var(--green);
    color: white;
}

/* Table ============================= */

#transaction {
    display: block;
    overflow-x: auto;
}

#data-table {
    /* Pega toda a largura do container */
    width: 100%;
    /* Tira todas as bordas da tabela no eixo vertical e horizontal */
    /* Neste caso passamos 0 pro eixo vertical porque queremos uma borda completa (sem espaço entre elas na vertical) e 0.5rem no eixo horizontal, porque queremos deixar um espaço entre cada borda */
    border-spacing: 0 0.5rem;
    color: #969cb3;
}

table thead tr th:first-child,
table tbody tr td:first-child 
{
    /* Lateral em cima = 0.5, lateral direita em cima e embaixo = 0 e lateral esquerda embaixo = 0.5 */
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child 
{
    border-radius: 0 0.25rem 0.25rem 0;
}

table thead th {
    background: white;
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

/* opacity: quando passamos o mouse, muda de 0.7 pra 1 quando colocamos um :hover no elemento escolhido, neste caso elemento tr. */
table tbody tr {
    opacity: .7;
}

table tbody tr:hover {
    opacity: 1;
}

table tbody td{
    background: white;
    padding: 1rem 2rem;
}

td.description {
    color: var(--dark-blue);
}

td.income {
    color: #12a454;
}

td.expense {
    color: var(--red);
}

/* Footer ============================= */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

    /* Essa configuraçao vai colocar a opacidade na tela inteira */
    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    /* A junçao do opacity 0 + visibility: hidden vai tirar a opacidade da tela e escondê-la */
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

/* Classe active */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2f5;
    /* Nao precisamos definir a largura, porque quando colocarmos algum conteudo dentro desta caixa, o padding vai alargar automaticamente. */
    padding: 2.4rem;
    position: relative;
    z-index: 1;
}

/* Form ============================= */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

/* Form buttons */
.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}



/* Footer ============================= */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(dark-blue);
    opacity: 0.6;
}

/* Responsive ============================= */
/* Quando a largura da tela for de 800 pra cima, aplicar o que estiver selecionado */
@media (min-width: 800px) {
    html {
        font-size: 87.5%; /* 14px */
    }

    #balance {
        /* display: grid consegue trabalhar os elementos na horizontal e na vertical */
        display: grid;
        /* Para que funcione, settar os templates */
        /* Ele vai dividir a caixa em partes iguais e pegar uma fraçao desta caixa pra colocar cada card, se quiser ver a diferença colocar 2fr pro primeiro card */
        grid-template-columns: 1fr 1fr 1fr;
        /* Espaço entre as colunas */
        gap: 2rem;
    }
}




